.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-secondary {
    background: rgb(66, 184, 221);
    text-align: left;
    /* this is a light blue */
}

/* Scrollbar  */

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#map {
  height: 600px;  /* The height is 600 pixels */
  width: 100%;  /* The width is the width of the web page */
}