.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-secondary {
    background: rgb(66, 184, 221);
    text-align: left;
    /* this is a light blue */
}
body {
  font-family: 'Montserrat', sans-serif;
}
.material-icons {
  vertical-align:-14%;
  color: white;
}
.material-icons.md-48 {
  font-size: 55px;
  color: black;
  vertical-align: -22%;
}
#home-btn {
  background-color: rgb(0, 172, 0);
  color: white;
}
#name {
  font-weight: bolder;
  font-size: 1cm;
}

/* Scrollbar  */

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;

